/* Navigation Bar */
.nav-item {
  font-family: 'Lobster', 'cursive';
  font-size: 1.4em !important;
  color: black !important;
  padding: 0 15px;
}

.nav-link {
  color: black !important;
}

.col-lg-7 {
  padding-top: 320px;
}

.col-lg-3 {
  padding-top: 110px;
}

.container-fluid {
  background-color: #fcf7bb;
  padding: 5% 15%;
}

.carousel-item {
  text-align: center;
  padding: 7% 15%;
  width: 100%;
}



h1 {
  font-family: 'Lobster', 'cursive';
  font-size: 3.3em;
}
.sambutanh3{

}

/* Menu Boba */
#menuBoba {
  padding: 3% 10%;
  text-align: center;
  font-size: 1.5rem;
}

.feature-box {
  text-align: center;
  padding: 2% 2%;
}

.feature-box h3 {
  font-family: 'Lobster', 'cursive';
}

.fotoboba {
  margin-bottom: 1rem;
}
.fotobobaM{
  margin-bottom: -0.1rem;
  
}

#Berita {
  padding: 3% 15%;
  font-family: 'Lobster', 'cursive';
  background-color: #fcf7bb;
  text-align: center;
  font-size: 1.5rem;
}
h2{

  margin-top: 150px;
  font-family: fantasy !important;
}
.pandemic{
  text-align: center;
}

/* INFORMASI */

#Informasi{
  padding: 3% 10%;
  text-align: center;
  font-size: 1.5rem;
}

.Lokasi{
  font-family: 'Lobster', 'cursive';
  font-size: 3rem;
}
